<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:m="http://typo3.org/ns/Fab/Messenger/ViewHelpers"
      xmlns:v="http://typo3.org/ns/Fab/Vidi/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">

    <span id="numberOfRecipients" style="display: none">{numberOfRecipients}</span>

    <m:message.development/>

    <f:form action="send"
            additionalAttributes="{role: 'form'}"
            extensionName="messenger"
            id="form-bulk-send"
            method="post">

        <input type="hidden" name="search[value]" value="{v:gp(argument: 'search|value')}"/>
        <input type="hidden" name="order[0][column]" value="{v:gp(argument: 'order|0|column')}"/>
        <input type="hidden" name="order[0][dir]" value="{v:gp(argument: 'order|0|dir')}"/>
        <input type="hidden" value="{pageId}" id="messenger-page-id"/>
        <f:for each="{matches}" key="key" as="value">
            <f:form.hidden name="matches[{key}]"
                           value="{value}"/>
        </f:for>

        <div class="form-group">
            <label for="messenger-sender">{f:translate(key: 'sender')}</label>
            <f:form.select name="sender"
                           id="messenger-sender"
                           options="{senders}"
                           class="form-control"/>
        </div>

        <div class="form-group">
            <label for="messenger-subject">{f:translate(key: 'subject')}</label>
            <f:form.textfield class="form-control"
                              value="{emailSubject}"
                              name="subject"
                              required="required"
                              id="messenger-subject"
                              placeholder="{f:translate(key: 'subject')}"/>
        </div>


        <div class="form-group">
            <f:if condition="{pageId}">
                <f:then>
                    <div class="checkbox">
                        <input type="hidden"
                               name="tx_messenger_user_messengerm1[parseMarkdown]"
                               value="0"/>
                        <label><input type="checkbox"
                                      id="has-body-text"
                                      name="tx_messenger_user_messengerm1[parseMarkdown]"
                                      value="1"
                                      onchange="
                        this.checked
                        ? document.getElementById('message-body-container').style = 'display: block'
                        : document.getElementById('message-body-container').style = 'display: none';
                        ">{f:translate(key: 'message.custom.body')}</label>
                    </div>
                </f:then>
            </f:if>
            <div id="message-body-container" style="{f:if(condition: pageId, then: 'display: none')}">
                <label for="messenger-body">{f:translate(key: 'body')}</label>
                <f:form.textarea class="form-control"
                                 name="body"
                                 style="min-height: 100px"
                                 id="messenger-body"
                                 placeholder="{f:translate(key: 'body')}"/>
            </div>
        </div>

        <button type="submit"
                class="btn btn-primary pull-right"
                id="btn-bulk-send"
                style="min-width: 100px">
            {f:translate(key: 'send')} {numberOfRecipients}
            <f:if condition="{numberOfRecipients} > 1">
                <f:then>
                    {f:translate(key: 'messages_text')}
                </f:then>
                <f:else>
                    {f:translate(key: 'message_text')}
                </f:else>
            </f:if>
        </button>

    </f:form>

    <f:form action="sendAsTest"
            additionalAttributes="{role: 'form'}"
            extensionName="messenger"
            id="form-send-test"
            style="margin-top: 40px; margin-bottom: 40px"
            method="post">

        <f:form.hidden id="messenger-sender-test" name="sender"/>
        <f:form.hidden id="messenger-subject-test" name="subject"/>
        <f:form.hidden id="messenger-body-test" name="body"/>

        <div class="form-group">
            <label for="messenger-subject">{f:translate(key: 'recipient.test')}</label>
            <f:form.textfield class="form-control"
                              name="recipientList"
                              id="messenger-recipient-test"
                              placeholder="{f:translate(key: 'recipient.test.placeholder')}"/>
        </div>
        <button type="submit"
                class="btn btn-default pull-right"
                id="btn-send-test"
                style="min-width: 100px">
            {f:translate(key:'send.test')}
        </button>

    </f:form>

</f:section>
</html>
