<html
        data-namespace-typo3-fluid="true"
        lang=""

        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers">
<f:layout name="Default"/>
<f:section name="main">
    <f:be.pageRenderer
            includeJavaScriptModules="{
                0: '@fab/messenger/Utils/Uri.js',
                1: '@fab/messenger/Utils/Typo3Lang.js',
                2: '@fab/messenger/Utils/RowsSelection.js',
                3: '@fab/messenger/SendAgainMenuItemNative.js',
                4: '@fab/messenger/DataExport.js',
                5: '@fab/messenger/EnqueueMessages.js',
                6: '@fab/messenger/UpdateRecipient.js'
            }"

    />
    <form action="enqueue"
          class="m-2"
          id="form-bulk-send"
          method="post"
          role="form"
    >
        <div class="form-group">
            <label for="messenger-sender">Sender</label>
            <select class="form-control"
                    id="messenger-sender" name="sender">
                <f:for as="sender" each="{senders}">
                    <option value="{sender}">{sender}</option>
                </f:for>
            </select>
        </div>

        <div class="form-group">
            <label for="messenger-subject">Subject</label>
            <input class="form-control" id="messenger-subject"
                   name="subject"
                   required="required"
                   type="text"
                   value="{title}"/>

        </div>
        <div class="form-group">
            <div class="checkbox pt-2">
                <label for="has-body-text">
                    <input class="p-2 m-1"
                           id="has-body-text"
                           name="body-text"
                           type="checkbox" value="1"
                           onclick="var container = document.getElementById('message-body-container'); if(container) { container.style.display = this.checked ? 'block' : 'none'; console.log('Container found:', container, 'Display:', container.style.display, 'Computed style:', window.getComputedStyle(container).display); } else { console.error('Container not found!'); }">Replace message body by a free text instead of the page
                    content.</label>
            </div>
            <div id="message-body-container" style="display: none;">
                <label for="messenger-body">Body</label>
                <textarea
                        class="form-control p-0"
                        id="messenger-body"
                        name="body"
                        style="min-height: 100px"
                ></textarea>
            </div>
        </div>
        <div>
            <label for="has-body-test">
                <input class="p-2 m-1"
                       id="has-body-test"
                       type="checkbox"
                       value="0"
                           onclick="var test = document.getElementById('recipient-test'); if(test) { test.style.display = this.checked ? 'block' : 'none'; this.value = this.checked ? '1' : '0'; console.log('Test element found:', test, 'Display:', test.style.display, 'Computed style:', window.getComputedStyle(test).display); } else { console.error('Test element not found!'); }">Send test</label>
        </div>
        <div class="form-group" id="recipient-test" style="display: none;">

            <label for="messenger-recipient-test">Test recipient(s) - max 10 emails</label>
            <input class="form-control" id="messenger-recipient-test"
                   name="recipientList"
                   type="text"/>
            <p class="bg-warning p-3 mt-2"> Emails are sent only to test emails if case checked</p>
        </div>
    </form>


</f:section>
</html>
