{namespace m=Fab\Messenger\ViewHelpers}
<div class="module-docheader-bar-column-right">
  <f:form action="index" controller="AdminModule" method="post">
    <div aria-label="" class="btn-toolbar" role="toolbar">
      <div class="dropdown dropdown-fields pull-right">
        <a
          class="btn btn-default btn-sm dropdown-toggle"
          data-bs-toggle="dropdown"
          href="#"
          style="position: relative; bottom: 1px"
        ></a>
        <ul class="dropdown-menu" style="max-height: 800px; overflow-y: scroll">
          <f:for each="{fields}" as="field">
            <li class="checkbox">
              <label>
                <f:variable
                  name="isChecked"
                  value="{m:inArray(haystack:'{selectedFields}', needle:'{field.name}', then:'1', else:'0')}"
                />
                {isChecked}
                <f:form.checkbox
                  checked="{f:if(condition:'{isChecked}' , then:'true' , else:'false')}"
                  additionalAttributes="{onchange: 'this.form.submit()'}"
                  class="check-visible-toggle"
                  name="selectedFields[] "
                  value="{field.name}"
                />
                <m:sentMessage.label field="{field.name}"></m:sentMessage.label>
              </label>
            </li>
          </f:for>
        </ul>
      </div>
    </div>
  </f:form>
</div>
