{namespace m=Fab\Messenger\ViewHelpers}
<div class="module-docheader-bar-column-right ">
    <f:form action="index" controller="SendMessageModule" method="post">
        <div aria-label="" class="btn-toolbar bg-white" role="toolbar">
            <div class="dropdown dropdown-fields pull-right">
                <a
                        class="btn btn-default btn-sm dropdown-toggle"
                        data-bs-toggle="dropdown"
                        href="#"
                        style="position: relative; bottom: 1px"
                ></a>
                <ul class="dropdown-menu bg-white p-2" style="max-height: 800px; overflow-y: scroll">
                    <f:for as="field" each="{fields}">
                        <f:if condition="{field.name} != 'hidden'">
                            <li class="checkbox text-black">
                                <label>
                                    <f:variable
                                            name="isChecked"
                                            value="{m:inArray(haystack:'{selectedFields}', needle:'{field.name}', then:'1', else:'0')}"
                                    />
                                    <f:form.checkbox
                                            additionalAttributes="{onchange: 'this.form.submit()'}"
                                            checked="{f:if(condition:'{isChecked}' , then:'true' , else:'false')}"
                                            class="check-visible-toggle"
                                            name="selectedFields[] "
                                            value="{field.name}"
                                    />
                                    <m:sentMessage.label field="{field.name}"></m:sentMessage.label>
                                </label>
                            </li>
                        </f:if>
                    </f:for>
                </ul>
            </div>
        </div>
    </f:form>
</div>
