<html data-namespace-typo3-fluid="true" xmlns:typo3="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers">
<typo3:be.pageRenderer
        includeJsFiles="{
        0: 'EXT:messenger/Resources/Public/JavaScript/Utils/Uri.js',
        1: 'EXT:messenger/Resources/Public/JavaScript/Utils/Typo3Lang.js',
        2: 'EXT:messenger/Resources/Public/JavaScript/Utils/RowsSelection.js',
        3: 'EXT:messenger/Resources/Public/JavaScript/MassDeletion.js'
    }"
/>
<f:render arguments="{_all}" partial="List/ListView" />
</html>
