table.table thead .sorting {
    background: url('sort_both.png') no-repeat center right;
}

table.table thead .action {
    background: no-repeat center right;
}

table.table thead .sorting_desc {
    background: url('sort_desc.png') no-repeat center right;
}

table.table thead .sorting_asc {
    background: url('sort_asc.png') no-repeat center right;
}

table.table thead {
    cursor: pointer;
}

.btn {
    border: none;

    :hover {
        border: none;
    }
}

.btn-sendAgain {
    background-color: white;

    :hover {
        background-color: white;
    }
}

.dropdown-menu {
    --bs-dropdown-bg: white;
    --bs-dropdown-border-color: var(--bs-border-color-translucent);
    --bs-dropdown-divider-bg: white;
    --bs-dropdown-link-hover-bg: white;
    --bs-dropdown-link-active-bg: white;
}

.btn-secondary {
    background-color: white;
    border: black 1px solid;
}
