<f:be.container pageTitle="Messenger" enableJumpToUrl="false" enableClickMenu="false" loadPrototype="false"
	                 loadScriptaculous="false" loadExtJs="false" loadExtJsTheme="true">

	<!-- @todo extend Extension Manager ViewHelper and use "addCssFiles" and "addJsFiles" when migrating to 6.0. Remember jquery will be loaded by default as of TYPO3 6.0 -->

	<m:css name="bootstrap.css"/>
	<m:css name="messenger.css"/>
	<m:css name="bootstrap-responsive.css"/>

	<m:js name="JQuery/jquery.js"/>

	<script type="text/javascript">

		// Declare namespace
		window.Messenger = {};

		// "Live" variables
		Messenger._labels = {
			"message-sent-successfully": '<f:translate key="message-sent-successfully" />',
			"x-messages-sent-successfully": '<f:translate key="x-messages-sent-successfully" />',
			"message-error": '<f:translate key="message-error" />'
		};

	</script>

	<f:render section="main"/>

	<m:js name="JQuery/jquery.form.js"/>
	<m:js name="Bootstrap/bootstrap.min.js"/>
	<m:js name="Messenger.js"/>
	<m:js name="Messenger.FlashMessage.js"/>
	<m:js name="Messenger.Label.js"/>

</f:be.container>
{namespace m=Vanilla\Messenger\ViewHelpers}
