{namespace m=Fab\Messenger\ViewHelpers}

<div class="btn-toolbar  btn-sm" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <div id="column-selector-{module}" data-module="{module}" data-table-name="{tableName}" data-ajax-url="{ajaxUrl}">
        <div aria-label="" class="btn-toolbar" role="toolbar">
            <div class="dropdown dropdown-fields pull-right">
                <a
                        class="btn btn-default btn-secondary btn-sm dropdown-toggle"
                        data-bs-toggle="dropdown"
                        href="#"
                        style="position: relative; bottom: 1px"
                ></a>
                <ul class="dropdown-menu bg-white p-2" style="max-height: 800px; overflow-y: scroll">
                    <f:for as="fieldName" each="{fields}">
                        <f:if condition="{fieldName} != 'hidden'">
                            <li class="checkbox text-black">
                                <label>
                                    <f:if condition="{m:inArray(haystack:selectedColumns, needle:fieldName)}">
                                        <f:then>
                                            <input
                                                    type="checkbox"
                                                    class="check-visible-toggle column-selector-checkbox"
                                                    name="selectedColumns[]"
                                                    value="{fieldName}"
                                                    data-field="{fieldName}"
                                                    checked="checked"
                                            />
                                        </f:then>
                                        <f:else>
                                            <input
                                                    type="checkbox"
                                                    class="check-visible-toggle column-selector-checkbox"
                                                    name="selectedColumns[]"
                                                    value="{fieldName}"
                                                    data-field="{fieldName}"
                                            />
                                        </f:else>
                                    </f:if>
                                    <f:if condition="{model}">
                                        <f:then>
                                            <f:if condition="{model} == 'fe_users'">
                                                <f:then>
                                                    <f:translate key="LLL:EXT:messenger/Resources/Private/Language/locallang.xlf:{fieldName}" />
                                                </f:then>
                                                <f:else>
                                                    <f:translate key="LLL:EXT:messenger/Resources/Private/Language/tx_messenger_domain_model_{model}.xlf:{fieldName}" />
                                                </f:else>
                                            </f:if>
                                        </f:then>
                                        <f:else>
                                            <f:translate key="LLL:EXT:messenger/Resources/Private/Language/locallang.xlf:{fieldName}" />
                                        </f:else>
                                    </f:if>
                                </label>
                            </li>
                        </f:if>
                    </f:for>
                </ul>
            </div>
        </div>
    </div>
</div>
