<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Module" />

<f:section name="Content">
    <f:be.pageRenderer
    includeJavaScriptModules="{
        0: '@fab/messenger/Utils/RowsSelection.js',
        1: '@fab/messenger/SendAgainMenuItemNative.js',
        2: '@fab/messenger/DataExport.js',
        3: '@fab/messenger/MassDeletion.js'
    }"
    />
    <f:render arguments="{_all}" partial="List/ListView" />
</f:section>
</html>
