<html
    data-namespace-typo3-fluid="true"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>
    <f:layout name="Default" />

    <f:section name="main">
        <f:be.pageRenderer
            includeJsFiles="{
                0: 'EXT:messenger/Resources/Public/JavaScript/Utils/Uri.js',
                1: 'EXT:messenger/Resources/Public/JavaScript/Utils/Typo3Lang.js',
                2: 'EXT:messenger/Resources/Public/JavaScript/Utils/RowsSelection.js'

            }"
            includeRequireJsModules="{0: 'TYPO3/CMS/Messenger/SendAgainMenuItemNative', 1: 'TYPO3/CMS/Messenger/DataExport',
                                  }"
        />
        <f:render arguments="{_all}" partial="List/ListView" />
    </f:section>
</html>
