services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: true

  Fab\Messenger\Controller\:
    resource: '../Classes/Controller/*'
    tags: ['backend.controller']
    arguments:
      $view: '@TYPO3\CMS\Backend\View\BackendViewFactory'

  Fab\Messenger\Controller\AdminModuleController:
    tags: [ 'backend.controller' ]

  Fab\Messenger\Controller\MessageTemplateController:
    arguments:
      $moduleTemplateFactory: '@TYPO3\CMS\Backend\Template\ModuleTemplateFactory'
      $iconFactory: '@TYPO3\CMS\Core\Imaging\IconFactory'
      $dataExportService: '@Fab\Messenger\Service\DataExportService'
    tags: ['backend.controller']

  Fab\Messenger\:
    resource: '../Classes/*'

  Fab\Messenger\Command\LogCommandController:
    tags:
      - name: 'console.command'
        command: 'messenger:cleanUp'
        description: 'To clean up the log table.'
        schedulable: true

  Fab\Messenger\Command\MessageQueueCommandController:
    tags:
      - name: 'console.command'
        command: 'messenger:dequeue'
        description: 'To dequeue messages from the queue.'
        schedulable: true


