services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: true


  Fab\Messenger\Controller\RecipientModuleController:
    tags: [ 'backend.controller' ]

  Fab\Messenger\Controller\MessageTemplateController:
    tags: [ 'backend.controller' ]

  Fab\Messenger\Controller\MessageLayoutController:
    tags: [ 'backend.controller' ]

  Fab\Messenger\Controller\SentMessageModuleController:
    tags: [ 'backend.controller' ]

  Fab\Messenger\Controller\MessageQueueController:
    tags: [ 'backend.controller' ]

  Fab\Messenger\:
    resource: '../Classes/*'

  Fab\Messenger\Command\LogCommandController:
    tags:
      - name: 'console.command'
        command: 'messenger:cleanUp'
        description: 'To clean up the log table.'
        schedulable: true

  Fab\Messenger\Command\MessageQueueCommandController:
    tags:
      - name: 'console.command'
        command: 'messenger:dequeue'
        description: 'To dequeue messages from the queue.'
        schedulable: true


