<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:m="http://typo3.org/ns/TYPO3/CMS/Messenger/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">


	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">

				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>

				<div class="nav-collapse collapse">
					<div id="navbar-main" class="nav">
						<div class="row-fluid row-navbar">
							<div class="span6">
								<m:render.developmentMessage/>
							</div>
							<div class="span6">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="centered flash-message container"></div>

	<div class="container container-main">

		<div>
			<h3>
				<f:translate key="message"></f:translate>

				<f:link.action class="btn" controller="MessageTemplate" action="list">
					<m:sprite name="actions-document-open"/>
				</f:link.action>
			</h3>
			<div>
				<f:if condition="{messageTemplate}">
					<f:then>
						<span title="{messageTemplate.identifier}">{messageTemplate.subject}</span>

						<div class="muted">{messageTemplate.body -> f:format.crop(maxCharacters: 500)}

							<div id="send-message-test-dropdown" class="dropdown dropdown-inline">
								<a class="dropdown-toggle btn" data-toggle="dropdown" href="#"><i class="icon-envelope"></i></a>

								<div class="dropdown-menu" role="menu" aria-labelledby="dLabel">
									<f:form method="post" action="sendMessageTest" arguments="{format: 'json'}"
									        id="send-message-test-action"
									        class="form-inline form-dropdown">

										<div class="control-group">
											<div class="controls">

												<f:form.hidden name="messageTemplateUid" value="{messageTemplate.uid}"/>
												<f:form.textfield name="testEmail" class="span3"
												                  id="inputIcon"
												                  placeholder="test@email.com"
												                  value="{m:be.userPreference(key:'messenger_testing_email')}"
												                  type="text"/>
												<button type="submit" class="btn" id="send-message-test-submit">
													<f:translate key="send"></f:translate>
												</button>
											</div>
										</div>
									</f:form>
								</div>
							</div>
						</div>

					</f:then>
					<f:else>
						No message defined yet! Select one...
					</f:else>
				</f:if>
			</div>
		</div>
		<hr>

		<div>
			<h3>
				<f:translate key="recipients"></f:translate>
				<f:if condition="{m:registryCount()} > 1">
					<f:link.action class="btn" controller="ListManager" action="list">
						<m:sprite name="actions-document-open"/>
					</f:link.action>
				</f:if>
			</h3>

			<f:form action="index" controller="Backend">
				<ul class="inline">
					<f:for each="{filters}" key="filterName" as="filter" iteration="iterator">
						<li>
							<f:form.select name="matcher[matches][{filterName}]" options="{filter.values}"
							               value="{m:arrayValue(needle: '{filterName}', haystack: '{matcher.matches}')}" class="menu-filter"/>
						</li>
					</f:for>
					<li>

						<f:form.textfield name="matcher[searchTerm]" placeholder="{f:translate(key:'search')}" value="{matcher.searchTerm}"/>
					</li>
				</ul>
			</f:form>

			<table id="table-recipients" class="table table-striped table-hover">
				<thead>
				<tr>
					<th style="width: 10px">
						<input class="checkbox-row-top" type="checkbox">
					</th>
					<m:table.header/>
					<th></th>
				</tr>
				</thead>
				<tbody>

				<f:for each="{recipients}" as="recipient">
					<tr data-uid="{recipient.uid}">
						<td>
							<input class="checkbox-row" name="" value="1" type="checkbox">
						</td>
						<m:table.row object="{recipient}"/>
						<td>
							<f:form method="post" action="sendMessage" arguments="{format: 'json'}"
							        class="send-message-action form-reset-style">
								<f:form.hidden class="hidden-recipient-uid" name="recipientUid" value="{recipient.uid}"/>
								<f:form.hidden class="hidden-message-template-uid" name="messageTemplateUid"
								               value="{messageTemplate.uid}"/>
								<button type="submit" class="btn send-message-submit">
									<i class="icon-envelope"></i>
								</button>
							</f:form>
						</td>
					</tr>
				</f:for>
				</tbody>
			</table>

			<f:form method="post" action="sendMessage" arguments="{format: 'json'}"
			        class="send-message-action form-reset-style">

				<div class="btn-group">
					<a class="btn btn-primary disabled" data-toggle="dropdown" href="#" id="btn-send">
						<f:translate key="send_selected"></f:translate>
					</a>
					<!-- This feature is not yet implemented
					<button class="btn dropdown-toggle btn-primary disabled" id="btn-send-caret" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li>
							<a class="disabled" data-toggle="dropdown" href="#">
								Create mailing (not implemented yet)
							</a>
						</li>
					</ul>
					-->

				</div>

				<f:form.hidden name="recipientUid" value="{recipient.uid}" id="field-selected-recipients"/>
				<f:form.hidden name="messageTemplateUid" value="{messageTemplate.uid}"/>
			</f:form>

		</div>
	</div>

</f:section>
</html>