<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:m="http://typo3.org/ns/messenger/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">


	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">

				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>

				<div class="nav-collapse collapse">
					<div id="navbar-main" class="nav">
						<div class="row-fluid row-navbar">
							<div class="span6">
								<m:render.developmentMessage/>
							</div>
							<div class="span6">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container container-main">

		<div>
			<h1>
				<f:translate key="message"></f:translate>
			</h1>
			<div>
				<f:if condition="{message}">
					<f:then>
						<span>{message.subject}</span> <span class="muted">{message.body -> f:format.stripTags() -> f:format.crop(maxCharacters: 500)}</span>

						<!--<button type="button" class="btn">-->
						<!--<i class="icon-pencil"></i>-->
						<!--</button>-->

						<div id="send-message-test-dropdown" class="dropdown dropdown-inline">
							<a class="dropdown-toggle btn" data-toggle="dropdown" href="#"><i class="icon-envelope"></i></a>

							<div class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<f:form method="post" action="sendMessageTest" arguments="{format: 'json'}"
								        id="send-message-test-action"
								        class="form-inline form-dropdown">

									<div class="control-group">
										<div class="controls">

											<f:form.hidden name="messageTemplateUid" value="{message.uid}"/>
											<f:form.textfield name="testEmail" class="span3"
											                  id="inputIcon"
											                  placeholder="test@email.com"
											                  value="{m:be.userPreference(key:'messenger_testing_email')}"
											                  type="text"/>
											<button type="submit" class="btn" id="send-message-test-button">
												<f:translate key="send"></f:translate>
											</button>
										</div>
									</div>
								</f:form>
							</div>
						</div>

					</f:then>
					<f:else>
						No message defined yet! Create one Message Template record and set its uid as configuration in the
						Extension Manager.
					</f:else>
				</f:if>
			</div>
		</div>
		<hr>

		<div>
			<h1>
				<f:translate key="recipients"></f:translate>
			</h1>
			<table id="table-recipients" class="table table-striped table-hover">
				<thead>
				<tr>
					<th style="width: 10px">
						<input class="checkbox-row-top" type="checkbox">
					</th>
					<m:table.header/>
					<th></th>
				</tr>
				</thead>
				<tbody>

				<f:for each="{recipients}" as="recipient">
					<tr data-uid="{recipient.uid}">
						<td>
							<f:form.checkbox name="" value="{recipient.uid}" class="checkbox-row"/>
						</td>
						<m:table.row object="{recipient}"/>
						<td>
							<button type="button" class="btn">
								<i class="icon-envelope"></i>
							</button>
						</td>
					</tr>
				</f:for>
				</tbody>
			</table>
			<button type="button" class="btn btn-primary" id="btn-send">
				<f:translate key="send_selected"></f:translate>
			</button>
			<input type="hidden" name="itest" id="field-selected-recipients"/>
		</div>
	</div>
</f:section>
</html>
{namespace m=Tx_Messenger_ViewHelpers}