body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

/* Override Bootstrap for TYPO3 look & feel */
html,
body {
	height: 97%;
	padding-top: 30px;
	background-color: #F8F8F8;
	/* padding-top because of the nav bar */
	/* height 97% because of the padding-top... */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.label {
	font-weight: normal;
}

.btn-group > .btn, .btn-group > .dropdown-menu,
.btn,
select,
input[type="text"],
label {
	font-size: 11px;
}

/* Custom styles */
.centered {
	position: fixed;
	top: 50px;
	z-index: 100;
	left: 50%;
}

.flash-message .alert {
	margin-bottom: 10px;
}

.form-dropdown {
	height: auto;
	margin: 10px;
	width: 350px;
}

.row-navbar {
	margin-top: 8px;
}

.dropdown-inline {
	display: inline;
}

.container-main {
	margin-left: 10px;
}

.container-fluid {
	padding-left: 10px;
}

.selected td {
	background-color: #339FD6 !important;
	color: rgb(255, 255, 255);
}

.form-reset-style {
	margin: 0;
	padding: 0;
}

