body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.centered {
	position: fixed;
	top: 50px;
	z-index: 100;
	left: 50%;
}

.flash-message .alert {
	margin-bottom: 10px;
}

.form-dropdown {
	height: auto;
	margin: 10px;
	width: 350px;
}

.row-navbar {
	margin-top: 8px;
}

.dropdown-inline {
	display: inline;
}

.container-main {
	margin-left: 10px;
}

.container-fluid {
	padding-left: 10px;
}

.selected td {
	background-color: #339FD6 !important;
	color: rgb(255, 255, 255);
}

.form-reset-style {
	margin: 0;
	padding: 0;
}

