<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">

	<f:render partial="Nav" arguments="{_all}"/>

	<div class="container container-main">

		<div>
			<h3>
				<f:translate key="list_of_message_templates"></f:translate>
			</h3>
			<div>
				<table class="table table-striped table-hover">
					<thead>
					<tr>
						<th style="">
							<f:translate key="identifier"></f:translate>
						</th>
						<th style="">
							<f:translate key="content"></f:translate>
						</th>
						<th style="width: 70px"></th>
					</tr>
					</thead>
					<tbody>
					<f:for each="{messageTemplates}" as="messageTemplate">
						<tr data-uid="{messageTemplate.uid}">
							<td>
								<strong>{messageTemplate.identifier}</strong>
							</td>
							<td>
								{messageTemplate.subject}
								<div class="muted">{messageTemplate.body -> f:format.stripTags() -> f:format.crop(maxCharacters:
									200)}
								</div>
							</td>
							<td>
								<a href="alt_doc.php?returnUrl=mod.php%3FM%3Duser_MessengerM1%26tx_messenger_user_messengerm1%5Baction%5D%3Dlist%26tx_messenger_user_messengerm1%5Bcontroller%5D%3DMessageTemplate&edit[tx_messenger_domain_model_messagetemplate][{messageTemplate.uid}]=edit"
								   data-uid="{asset.uid}"><m:sprite name="actions-document-open"/></a>
								<f:link.action class=""
								               action="save"
								               arguments="{messageTemplate: '{messageTemplate.uid}'}"></f:link.action>
								<f:link.action class="" action="save" arguments="{messageTemplate: '{messageTemplate.uid}'}"><m:sprite name="status-status-checked"/></f:link.action>
							</td>
						</tr>
					</f:for>

					</tbody>
				</table>
			</div>
		</div>
	</div>

</f:section>
</html>
{namespace m=Tx_Messenger_ViewHelpers}